.sidebarWrapper{
    width: 90px;
    height: 100dvh;
    background-color: #2B2B2B;
    border-right: 1px solid #707070;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0px;
    /* justify-content: space-evenly; */
}

/* .sidebarLogo{} */

.sidebarBtns{
    margin-top: 7rem;
}

